*, *::before, *::after{
    box-sizing: border-box;
}

.heroImage{
    width: 100%;
    background-image: url("weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom:0;
}

.btn{
    width: 100px;
    margin-top: 1.5rem;
    margin-bottom:  1.5rem;
}

.alert{
    display:none;
}

#found{
    font-size: 1.5rem;
    font-family: Roboto;
    color: rgb(77, 25, 25);
}

#temp-container{
    font-size: 2rem;
    font-family: Roboto;
    color: rgb(77, 25, 25);
    display:none;
}