:root{
    --dimension: 150px;
    --degree: 0deg;
    --radius: 25%;
    --width: 40%;
    --height: 6rem;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
  }
  
header {
    background-color: #282616;
}

.score-container {
    color: #716F56;
    height: 4rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: cetner;
}

hr {
    border-top: 3px solid black;
}

#h-count, #reaction-time{
    font-weight: bold;
    font-size: 1.5rem;
}   

body{
    background-color: #4E4B2C;
}

.target-container{
    flex-direction: column;
    width: var(--dimension);
    height: var(--dimension);
    place-items:center;
    display: none;
    position: relative;
    transform: rotate(var(--degree));
}
.container{
    display:flex;
    flex-direction:column;
    text-align: center;
    place-self: center;
    position:relative;
}

.container h3{
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem 0rem 4rem;
}

.rounds{
    font-size: 8rem;
    font-family: sans-serif;
    font-weight: bold;
    padding-bottom: 3rem;
}

.button-container{
    display:grid;
    place-items:center;
}

.btn, .start, .reset{
    text-transform: uppercase;
    background: transparent;
    padding: 0.375rem 0.75rem;
    display: inline-block;
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
}

.btn:hover, .start:hover, .reset:hover{
    border: 2px solid black;
}

#start{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#head {
    background: rgb(235, 211, 150);
    flex: 1/2;
    width: 15%;
    height: 2rem;
    border: 1px solid;
    border-radius: 40%;
}

#body{
    flex:2/4;
    width: var(--width);
    height: var(--height);
    border: 1px solid;
    border-radius: var(--radius);
}

