body{
    background-color:rgb(107, 59, 197)
}

.card{
    margin-bottom: 30px;
    width: 100%;
    min-height: 30vh
}

h1{
    font-size:3rem;
    color: white;
    margin: 5rem auto
}

.icon{
    margin-top: -8rem;
    width: 1.5rem;
    margin-right: 12px;
}
